body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

#downloadExcursion {
    color: aquamarine;
    font-size: 16px;
    font-style: inherit;
    text-decoration-line: underline;
}

h2 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}

